@page
@model MOGILEVZAGS.Pages.Client1.Index1Model
@{
}

<br>
<h2>Предварительная запись на регистрацию развода прямо на веб-сайте.</h2>
<a class='btn btn-primary btn-sm' href='/Client1/Create'>Оформить запись</a>
<table class="table">
    <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Телефон</th>
            <th>Дата создания заявки</th>
            <th>Тип заявки</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListClients)
        {
            <tr>
                <td>@item.Patronymic</td>
                <td>@item.Name</td>
                <td>@item.SecondName</td>
                <td>@item.Phone</td>
                <td>@item.CreatedAt</td>
                <th>@item.TypeOfOperation</th>
                <td>
                    <form method="post">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        <input type="hidden" name="id" value="@item.Id">
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>